/* Footer Styles */
footer {
    text-align: center;
    padding: 2rem;
    background-color: #f8f8f8dc;
    border-bottom: 1px solid rgba(56, 56, 59, 0.343);
    border-top: 1px solid rgba(56, 56, 59, 0.343);
  }