@import './style.css';
@import './Footer.css';
@import './Navbar.css';
@import './SplashStyle.css';

.header-bar {
    box-shadow:
      0 0 10px rgba(98, 213, 255, 0.05),
      0 0 20px rgba(98, 213, 255, 0.05);
  }
  
.header-container {
    display: flex;
    justify-content: space-between; /* brand on the left, nav on the right */
    align-items: center; 
    padding: 1.5rem 3rem; 
    border-bottom: 1px solid rgba(167, 165, 225, 0.1);
  }

  .navbar-container {
    /* Ensure the navbar does not stretch, and is aligned to the right */
    flex: 0 1 auto;
  }

