/* General Page Styles */
body {
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

/* Project Section Styles */
#projects {
  padding: 2rem;
}

.project {
  background: rgb(255, 255, 255);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
